
.setting {

text-align: center;

}

h1{
	font-size: 90px;
	color: black;

}
h2{
	text-align: center;
}

#title{
	 
	text-align: center;
	color: white;
	width: 100%;
	height: 80px;
	border: 1px solid black;

}
#form{
	display: block;
}

#chaisse {

	margin-left: 40%;
	height: 70%;
	width: 20%;


}
#userChaise{
	width: 300px;
	height: 300px;
	margin-left: 50%;

}
#squel2{
	margin-left: 40%;
	height: 70%;
	width: 20%;
}
#formulaire{
	display: block;
	text-align: center;
}

#footer{
	
	text-align:center; 
	color: black; 
	width: 100%; 
	height:80px; 
	border : 1px solid black;

	background-color:purple; 
}

#btn1 {
 height: 15px;
 width: 15px;
 border-radius: 100%;
 background-color: black;
 position: absolute;
 margin-left: 754px;
 margin-top: 53px;
}

#btn2 {
 height: 15px;
 width: 15px;
 border-radius: 100%;
 background-color: black;
 position: absolute;
 margin-left: 753px;
 margin-top: 147px;
}

#btn3 {
 height: 15px;
 width: 15px;
 border-radius: 100%;
 background-color: black;
 position: absolute;
 margin-left: 753px;
 margin-top: 230px;
}

#btn4 {
 height: 15px;
 width: 15px;
 border-radius: 100%;
 background-color: black;
 position: absolute;
 margin-left: 753px;
 margin-top: 290px;
}

#btn5 {
 height: 15px;
 width: 15px;
 border-radius: 100%;
 background-color: black;
 position: absolute;
 margin-left: 630px;
 margin-top: 234px;
}

#btn6 {
 height: 15px;
 width: 15px;
 border-radius: 100%;
 background-color: black;
 position: absolute;
 margin-left: 875px;
 margin-top: 234px;
}

#btn7 {
 height: 15px;
 width: 15px;
 border-radius: 100%;
 background-color: black;
 position: absolute;
 margin-left: 747px;
 margin-top: 372px;
